travel/wsdl_dev/BCM_TRVL_TrvlFillDocCommit_Service.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thitech.com/BCM_TRVL_TrvlFillDocCommit_Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BCM_TRVL_TrvlFillDocCommit_Service" targetNamespace="http://www.thitech.com/BCM_TRVL_TrvlFillDocCommit_Service/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thitech.com/BCM_TRVL_TrvlFillDocCommit_Service/">
      <!-- 增加部分1 开始 -->
      <xsd:complexType name="AbstractType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="originateTellerId">
            <xsd:annotation>
              <xsd:documentation>员工号</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="8"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="domain">
            <xsd:annotation>
              <xsd:documentation>域</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
            <xsd:annotation>
              <xsd:documentation>扩展数据</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分1 结束 -->
      <!-- 增加部分2 开始 -->
      <xsd:complexType name="ExtendMapType">
        <xsd:sequence>
          <xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分2 结束 -->
      <!-- 增加部分3 开始 -->
      <xsd:complexType name="Entry">
        <xsd:sequence>
          <xsd:element name="Key" type="xsd:anyType"/>
          <xsd:element name="Value" type="xsd:anyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分3 结束 -->
      <!-- 增加部分4 开始 -->
      <xsd:complexType name="ReturnCode">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回类型</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回码</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回信息</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分4 结束 -->
      <!-- 增加部分5 开始 -->
      <xsd:simpleType name="ChannelSerialNoType">
        <xsd:annotation>
          <xsd:documentation>渠道流水号</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="64"/>
          <xsd:minLength value="23"/>
        </xsd:restriction>
      </xsd:simpleType>
      <!-- 增加部分5 结束 -->
      <xsd:element name="TrvlFillDocCommit" type="tns:TrvlFillDocCommit">
      </xsd:element>
      <xsd:element name="TrvlFillDocCommitResponse" type="tns:TrvlFillDocCommitResponse">
      </xsd:element>
      <xsd:complexType name="TrvlFillDocCommit">
        <xsd:sequence>
          <xsd:element name="input" type="tns:TrvlFillDocCommitInput"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TrvlFillDocCommitInput">
        <xsd:complexContent>
          <xsd:extension base="tns:AbstractType">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="personId" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="taskId" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="receiptNo" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="compCode" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="reqDept" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="reqDeptName" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="nextStep" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="nextStepUsrId" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="nextDept" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="nextDeptName" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="needBack" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="lastStep" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="approvalType" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="approveOpinion" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="trDetailItemId" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="trObject" type="tns:TrObject"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="TrvlFillDocCommitOutput">
        <xsd:complexContent>
          <xsd:extension base="tns:ReturnCode">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="docTyp" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="travId" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="travNo" type="xsd:string">
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="TrvlFillDocCommitResponse">
        <xsd:sequence>
          <xsd:element name="output" type="tns:TrvlFillDocCommitOutput"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TrObject">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="opType" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="trObjectId" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="travNo" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="refTravId" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="refTravNo" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="refPlansId" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="refPlansNo" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="travelClass" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="usrCode" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="usrNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="perRangeId" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="perRangeName" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="departmentId" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="departmentName" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="startDate" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="endDate" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="invHead" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="invHeadNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="docStat" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="docStatNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="expAmt" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="bagrAmt" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="fagrAmt" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="fillAmt" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="feeApproval" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="loanFlag" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="trvlTopIC" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="docTyp" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="docTypNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="actTyp" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="actTypNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="trItems" type="tns:TrItem">
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="atchIds" type="xsd:string">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TrItem">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="opType" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="trSubItemId" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="travelType" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="fromPlacePro" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="fromPlaceCity" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="toPlacePro" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="toPlaceCity" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="fromPlaceProNm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="fromPlaceCityNm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="toPlaceProNm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="toPlaceCityNm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="fromCountryId" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="fromCountryNM" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="toCountryId" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="toCountryNM" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="forOrigAddr" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="forDestAddr" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="startDate" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="endDate" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="days" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="lastFlag" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="expAmt" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="fillAmt" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="bagrAmt" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="fagrAmt" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="feeApproval" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="travTypNm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="lineNo" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="addr" type="xsd:string"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="trDetailItems" type="tns:TrDetailItem">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TrDetailItem">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="opType" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="trDetailItemId" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="feeGroupID" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="feeGroupNm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="feeInvoice" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="invoiceType" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="invoiceTypeNm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="invocieCount" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="startPlace" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="endPlace" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="seatType" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="startMile" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="endMile" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vatAmount" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="memo" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="lineNo" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="expAmt" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="fillAmt" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="bagrAmt" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="fagrAmt" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="feeApproval" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="classTypNm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="days" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="expForm" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="expFormNm" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddHistoryType">
        <xsd:sequence>
          <xsd:element name="UsrId" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TrvlFillDocCommitRequest">
    <wsdl:part element="tns:TrvlFillDocCommit" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="TrvlFillDocCommitResponse">
    <wsdl:part element="tns:TrvlFillDocCommitResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="BCM_TRVL_TrvlFillDocCommit_Service">
    <wsdl:operation name="TrvlFillDocCommit">
      <wsdl:input message="tns:TrvlFillDocCommitRequest"/>
      <wsdl:output message="tns:TrvlFillDocCommitResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:ptns="http://www.thitech.com/BCM_TRVL_TrvlFillDocCommit_Service/" name="BCM_TRVL_TrvlFillDocCommit_Service_Binding" type="ptns:BCM_TRVL_TrvlFillDocCommit_Service">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="TrvlFillDocCommit">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BCM_TRVL_TrvlFillDocCommit_Service">
    <wsdl:port xmlns:bprf="http://www.thitech.com/BCM_TRVL_TrvlFillDocCommit_Service/" binding="bprf:BCM_TRVL_TrvlFillDocCommit_Service_Binding" name="BCM_TRVL_TrvlFillDocCommit_Service_Port">
      <soap:address location="http://bmd.cttq.com:51200/BCM_TRVL_TrvlFillDocCommit_Service/BCMTRVLTrvlFillDocCommitServiceImplBean"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>