travel/wsdl_dev/EM_CMF_CompTaskListQry.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thitech.com/EM_CMF_CompTaskListQry/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EM_CMF_CompTaskListQry" targetNamespace="http://www.thitech.com/EM_CMF_CompTaskListQry/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thitech.com/EM_CMF_CompTaskListQry/">
        <!-- 增加部分1 开始 -->
			<xsd:complexType name="AbstractType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
						<xsd:annotation>
							<xsd:documentation>当前员工号</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="domain">
						<xsd:annotation>
							<xsd:documentation>域</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分1 结束 -->
			
			<!-- 增加部分2 开始 -->
			<xsd:complexType name="ExtendMapType">
				<xsd:sequence>
					<xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分2 结束 -->

			<!-- 增加部分3 开始 -->
			<xsd:complexType name="Entry">
				<xsd:sequence>
					<xsd:element name="Key" type="xsd:anyType"/>
					<xsd:element name="Value" type="xsd:anyType"/>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分3 结束 -->

			<!-- 增加部分4 开始 -->
			<xsd:complexType name="ReturnCode">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回类型</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回码</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回信息</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分4 结束 -->

			<!-- 增加部分5 开始 -->
			<xsd:simpleType name="ChannelSerialNoType">
				<xsd:annotation>
					<xsd:documentation>渠道流水号</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="64"/>
					<xsd:minLength value="23"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- 增加部分5 结束 -->
      <xsd:element name="EMCMFCompTaskListQry" type="tns:EMCMFCompTaskListQry">

      </xsd:element>
      <xsd:element name="EMCMFCompTaskListQryResponse" type="tns:EMCMFCompTaskListQryResponse">

      </xsd:element>
    
      <xsd:complexType name="EMCMFCompTaskListQry">
      	<xsd:sequence>
      		<xsd:element name="Input" type="tns:EMCMFCompTaskListQryInput"/>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="EMCMFCompTaskListQryResponse">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="1" name="Output" type="tns:EMCMFCompTaskListQryOutput"/>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="EMCMFCompTaskListQryInput">
            	<xsd:complexContent>
            		<xsd:extension base="tns:AbstractType">
            			<xsd:sequence>
            				<xsd:element maxOccurs="1" minOccurs="0" name="procTyp" type="xsd:string">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="0" name="usrId" type="xsd:string">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="0" name="startDate" type="xsd:string">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="0" name="endDate" type="xsd:string">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="0" name="endTime" type="xsd:string">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="1" name="startPage" type="xsd:int">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="1" name="pageSize" type="xsd:int">
            				</xsd:element>
            			</xsd:sequence>
            		</xsd:extension>
            	</xsd:complexContent>
            </xsd:complexType>

      <xsd:complexType name="EMCMFCompTaskListQryOutput">
      	<xsd:complexContent>
      		<xsd:extension base="tns:ReturnCode">
      			<xsd:sequence>
      				<xsd:element maxOccurs="unbounded" minOccurs="0" name="compTaskList" type="tns:CompTaskList">
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="totalCount" type="xsd:int">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="CompTaskList">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="0" name="reqUsrId" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="reqUsrNm" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="reqUsrDeptNm" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="bussTyp" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="bussNo" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="procTyp" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="startTime" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="agrAmt" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="feeTyp" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EMCMFCompTaskListQryRequest">
    <wsdl:part element="tns:EMCMFCompTaskListQry" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EMCMFCompTaskListQryResponse">
    <wsdl:part element="tns:EMCMFCompTaskListQryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EM_CMF_CompTaskListQry">
    <wsdl:operation name="EMCMFCompTaskListQry">
      <wsdl:input message="tns:EMCMFCompTaskListQryRequest"/>
      <wsdl:output message="tns:EMCMFCompTaskListQryResponse"/>
    </wsdl:operation>
  </wsdl:portType>


<wsdl:binding xmlns:ptns="http://www.thitech.com/EM_CMF_CompTaskListQry/" name="EM_CMF_CompTaskListQry_Binding" type="ptns:EM_CMF_CompTaskListQry">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="EMCMFCompTaskListQry">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="EM_CMF_CompTaskListQry">
<wsdl:port xmlns:bprf="http://www.thitech.com/EM_CMF_CompTaskListQry/" binding="bprf:EM_CMF_CompTaskListQry_Binding" name="EM_CMF_CompTaskListQry_Port">
<soap:address location="http://bmd.cttq.com:51200/EM_CMF_CompTaskListQry/EMCMFCompTaskListQryImplBean"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>