travel/wsdl_dev/EM_CMF_WaitTaskListQry.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thitech.com/EM_CMF_WaitTaskListQry/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EM_CMF_WaitTaskListQry" targetNamespace="http://www.thitech.com/EM_CMF_WaitTaskListQry/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thitech.com/EM_CMF_WaitTaskListQry/">
     		<!-- 增加部分1 开始 -->
			<xsd:complexType name="AbstractType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
						<xsd:annotation>
							<xsd:documentation>当前员工号</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="domain">
						<xsd:annotation>
							<xsd:documentation>域</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分1 结束 -->
			
			<!-- 增加部分2 开始 -->
			<xsd:complexType name="ExtendMapType">
				<xsd:sequence>
					<xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分2 结束 -->

			<!-- 增加部分3 开始 -->
			<xsd:complexType name="Entry">
				<xsd:sequence>
					<xsd:element name="Key" type="xsd:anyType"/>
					<xsd:element name="Value" type="xsd:anyType"/>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分3 结束 -->

			<!-- 增加部分4 开始 -->
			<xsd:complexType name="ReturnCode">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回类型</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回码</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回信息</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分4 结束 -->

			<!-- 增加部分5 开始 -->
			<xsd:simpleType name="ChannelSerialNoType">
				<xsd:annotation>
					<xsd:documentation>渠道流水号</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="64"/>
					<xsd:minLength value="23"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- 增加部分5 结束 -->
      <xsd:element name="EMCMFWaitTaskListQry" type="tns:EMCMFWaitTaskListQry">

      </xsd:element>
      <xsd:element name="EMCMFWaitTaskListQryResponse" type="tns:EMCMFWaitTaskListQryResponse">

      </xsd:element>
    

      <xsd:complexType name="EMCMFWaitTaskListQryResponse">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="1" name="Output" type="tns:EMCMFWaitTaskListQryOutput"/>
      	</xsd:sequence>
      </xsd:complexType>
      
            <xsd:complexType name="EMCMFWaitTaskListQryInput">
            	<xsd:complexContent>
            		<xsd:extension base="tns:AbstractType">
            			<xsd:sequence>
            				<xsd:element maxOccurs="1" minOccurs="0" name="procTyp" type="xsd:string">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="0" name="usrId" type="xsd:string">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="0" name="startDate" type="xsd:string">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="0" name="endDate" type="xsd:string">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="0" name="endTime" type="xsd:string">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="1" name="startPage" type="xsd:int">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="1" name="pageSize" type="xsd:int">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="0" name="exceedFlag" type="xsd:string">
            				</xsd:element>
            			</xsd:sequence>
            		</xsd:extension>
            	</xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="EMCMFWaitTaskListQryOutput">
            	<xsd:complexContent>
            		<xsd:extension base="tns:ReturnCode">
            			<xsd:sequence>
            				<xsd:element maxOccurs="unbounded" minOccurs="0" name="waitTaskList" type="tns:WaitTaskList">
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="0" name="totalCount" type="xsd:int">
            				</xsd:element>
            			</xsd:sequence>
            		</xsd:extension>
            	</xsd:complexContent>
            </xsd:complexType>
            
            <xsd:complexType name="WaitTaskList">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="reqUsrId" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="reqUsrNm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="reqUsrDeptNm" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="bussTyp" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="bussNo" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="procTyp" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="startTime" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="agrAmt" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="exceedFlag" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="feeTyp" type="xsd:string">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="0" name="procInstNo" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="EMCMFWaitTaskListQry">
            	<xsd:sequence>
            		<xsd:element name="Input" type="tns:EMCMFWaitTaskListQryInput"/>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EMCMFWaitTaskListQryRequest">
    <wsdl:part element="tns:EMCMFWaitTaskListQry" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EMCMFWaitTaskListQryResponse">
    <wsdl:part element="tns:EMCMFWaitTaskListQryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EM_CMF_WaitTaskListQry">
    <wsdl:operation name="EMCMFWaitTaskListQry">
      <wsdl:input message="tns:EMCMFWaitTaskListQryRequest"/>
      <wsdl:output message="tns:EMCMFWaitTaskListQryResponse"/>
    </wsdl:operation>
  </wsdl:portType>


<wsdl:binding xmlns:ptns="http://www.thitech.com/EM_CMF_WaitTaskListQry/" name="EM_CMF_WaitTaskListQry_Binding" type="ptns:EM_CMF_WaitTaskListQry">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="EMCMFWaitTaskListQry">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="EM_CMF_WaitTaskListQry">
<wsdl:port xmlns:bprf="http://www.thitech.com/EM_CMF_WaitTaskListQry/" binding="bprf:EM_CMF_WaitTaskListQry_Binding" name="EM_CMF_WaitTaskListQry_Port">
<soap:address location="http://bmd.cttq.com:51200/EM_CMF_WaitTaskListQry/EMCMFWaitTaskListQryImplBean"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>