travel/wsdl_dev/EM_TRVL_InfQry.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thitech.com/EM_TRVL_InfQry/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EM_TRVL_InfQry" targetNamespace="http://www.thitech.com/EM_TRVL_InfQry/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thitech.com/EM_TRVL_InfQry/">
      <!-- 增加部分1 开始 -->
      <xsd:complexType name="AbstractType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
            <xsd:annotation>
              <xsd:documentation>当前员工号</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="domain">
            <xsd:annotation>
              <xsd:documentation>域</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
            <xsd:annotation>
              <xsd:documentation>扩展数据</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分1 结束 -->
      <!-- 增加部分2 开始 -->
      <xsd:complexType name="ExtendMapType">
        <xsd:sequence>
          <xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分2 结束 -->
      <!-- 增加部分3 开始 -->
      <xsd:complexType name="Entry">
        <xsd:sequence>
          <xsd:element name="Key" type="xsd:anyType"/>
          <xsd:element name="Value" type="xsd:anyType"/>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分3 结束 -->
      <!-- 增加部分4 开始 -->
      <xsd:complexType name="ReturnCode">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回类型</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回码</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>返回信息</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
            <xsd:annotation>
              <xsd:documentation>扩展数据</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <!-- 增加部分4 结束 -->
      <!-- 增加部分5 开始 -->
      <xsd:simpleType name="ChannelSerialNoType">
        <xsd:annotation>
          <xsd:documentation>渠道流水号</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="64"/>
          <xsd:minLength value="23"/>
        </xsd:restriction>
      </xsd:simpleType>
      <!-- 增加部分5 结束 -->
      <xsd:element name="EM_TRVL_InfQry" type="tns:EM_TRVL_InfQry">
      </xsd:element>
      <xsd:element name="EM_TRVL_InfQryResponse" type="tns:EM_TRVL_InfQryResponse">
      </xsd:element>
      <xsd:complexType name="EM_TRVL_InfQry">
        <xsd:sequence>
          <xsd:element name="input" type="tns:EM_TRVL_InfQryInput"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EM_TRVL_InfQryInput">
        <xsd:complexContent>
          <xsd:extension base="tns:AbstractType">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="usrCode" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="travNo" type="xsd:string">
              </xsd:element>
              <xsd:element maxOccurs="1" minOccurs="0" name="docTyp" type="xsd:string">
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="EM_TRVL_InfQryResponse">
        <xsd:sequence>
          <xsd:element name="input" type="tns:EM_TRVL_InfQryOutput"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EM_TRVL_InfQryOutput">
        <xsd:complexContent>
          <xsd:extension base="tns:ReturnCode">
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="trObject" type="tns:TrObject">
              </xsd:element>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="TrDetailItems">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="opType" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="trDetailItemId" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="lineNo" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="feeGroupID" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="feeGroupNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="expForm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="expFormNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="feeInvoice" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="invoiceType" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="InvoiceTypeNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="invocieCount" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="startPlace" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="endPlace" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="seatType" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="classTypNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="startMile" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="endMile" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="vatAmount" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="memo" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="fillAmt" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="expAmt" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="days" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="acmdtionCountryId" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="acmdtionCcountryNM" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="acmdtionPlacePro" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="acmdtionPlaceProNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="acmdtionPlaceCity" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="acmdtionPlaceCityNm" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TrItems">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="trSubItemId" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="lineNo" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="travelType" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="travTypNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="fromcCountryId" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="fromCcountryNM" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="fromPlacePro" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="fromPlaceProNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="fromPlaceCity" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="fromPlaceCityNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="ctoCountryId" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="toCcountryNM" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="toPlacePro" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="toPlaceProNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="toPlaceCity" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="toPlaceCityNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="forOrigAddr" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="forDestAddr" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="transitCode" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="transitNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="startDate" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="endDate" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="days" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="fillAmt" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="expAmt" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="1" name="trDetailItems" type="tns:TrDetailItems"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TrObject">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="trObjectId" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="travNo" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="travelClass" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="usrCode" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="usrNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="perRangeId" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="perRangeName" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="departmentId" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="departmentName" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="startDate" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="endDate" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="invHead" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="invHeadNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="docStat" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="docStatNm" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="fillAmt" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="expAmt" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="trvlTopIC" type="xsd:string">
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="trItems" type="tns:TrItems">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EM_TRVL_InfQryRequest">
    <wsdl:part element="tns:EM_TRVL_InfQry" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EM_TRVL_InfQryResponse">
    <wsdl:part element="tns:EM_TRVL_InfQryResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EM_TRVL_InfQry">
    <wsdl:operation name="EM_TRVL_InfQry">
      <wsdl:input message="tns:EM_TRVL_InfQryRequest"/>
      <wsdl:output message="tns:EM_TRVL_InfQryResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:ptns="http://www.thitech.com/EM_TRVL_InfQry/" name="EM_TRVL_InfQry_Binding" type="ptns:EM_TRVL_InfQry">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="EM_TRVL_InfQry">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EM_TRVL_InfQry">
    <wsdl:port xmlns:bprf="http://www.thitech.com/EM_TRVL_InfQry/" binding="bprf:EM_TRVL_InfQry_Binding" name="EM_TRVL_InfQry_Port">
      <soap:address location="http://bmd.cttq.com:51200/EM_TRVL_InfQry/EMTRVLInfQryImplBean"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>