zddc/wsdl_dev/AdWebService.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cttq.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://cttq.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cttq.org/">
      <s:element name="CreateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orgName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="department" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="changePasswordNextLogon" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwordNeverExpire" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountExpires" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUser2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orgName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="department" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="changePasswordNextLogon" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwordNeverExpire" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountExpires" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUser2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateUser2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="field" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="changeValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifyUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyUser2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="field" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="changeValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyUser2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModifyUser2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUser2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUser2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteUser2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisableUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisableUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DisableUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisableUser2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisableUser2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DisableUser2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnableUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnableUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnableUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnableUser2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnableUser2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnableUser2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePasswordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangePassword2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUser2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUser2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckUser2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeSmsCodeByPhone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeSmsCodeByPhoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GeSmsCodeByPhoneResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeSmsCodeByPhone2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeSmsCodeByPhone2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeSmsCodeByPhone2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeSmsCodeByLoginName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeSmsCodeByLoginNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GeSmsCodeByLoginNameResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeSmsCodeByLoginName2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeSmsCodeByLoginName2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeSmsCodeByLoginName2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSmsCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSmsCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckSmsCodeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSmsCode2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSmsCode2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckSmsCode2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserStatus2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserStatus2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserStatus2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnLockUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnLockUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UnLockUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnLockUser2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnLockUser2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnLockUser2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetPasswordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPassword2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPassword2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetPassword2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReturnCodeName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="returnCode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReturnCodeNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReturnCodeNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsOUExsit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ouPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsOUExsitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsOUExsitResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOuUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ouPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOuUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOuUsersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ouPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOuResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyUserPic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="changeValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyUserPicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifyUserPicResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoByLoginName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoByLoginNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoByLoginNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserInGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserInGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsUserInGroupResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserInGroup2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserInGroup2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsUserInGroup2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserToGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserToGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUserToGroupResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserToGroup2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserToGroup2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUserToGroup2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserFromGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserFromGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteUserFromGroupResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserFromGroup2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserFromGroup2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteUserFromGroup2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPasswordLastSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPasswordLastSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPasswordLastSetResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetValidCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsPattern" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expireSecond" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetValidCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetValidCodeResult" type="tns:SmsResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SmsResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UniqueCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SeqNo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckValidCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="validNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="invokeApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckValidCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckValidCodeResult" type="tns:SmsResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUser2SoapIn">
    <wsdl:part name="parameters" element="tns:CreateUser2" />
  </wsdl:message>
  <wsdl:message name="CreateUser2SoapOut">
    <wsdl:part name="parameters" element="tns:CreateUser2Response" />
  </wsdl:message>
  <wsdl:message name="ModifyUserSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyUser" />
  </wsdl:message>
  <wsdl:message name="ModifyUserSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyUserResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyUser2SoapIn">
    <wsdl:part name="parameters" element="tns:ModifyUser2" />
  </wsdl:message>
  <wsdl:message name="ModifyUser2SoapOut">
    <wsdl:part name="parameters" element="tns:ModifyUser2Response" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUser2SoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUser2" />
  </wsdl:message>
  <wsdl:message name="DeleteUser2SoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUser2Response" />
  </wsdl:message>
  <wsdl:message name="DisableUserSoapIn">
    <wsdl:part name="parameters" element="tns:DisableUser" />
  </wsdl:message>
  <wsdl:message name="DisableUserSoapOut">
    <wsdl:part name="parameters" element="tns:DisableUserResponse" />
  </wsdl:message>
  <wsdl:message name="DisableUser2SoapIn">
    <wsdl:part name="parameters" element="tns:DisableUser2" />
  </wsdl:message>
  <wsdl:message name="DisableUser2SoapOut">
    <wsdl:part name="parameters" element="tns:DisableUser2Response" />
  </wsdl:message>
  <wsdl:message name="EnableUserSoapIn">
    <wsdl:part name="parameters" element="tns:EnableUser" />
  </wsdl:message>
  <wsdl:message name="EnableUserSoapOut">
    <wsdl:part name="parameters" element="tns:EnableUserResponse" />
  </wsdl:message>
  <wsdl:message name="EnableUser2SoapIn">
    <wsdl:part name="parameters" element="tns:EnableUser2" />
  </wsdl:message>
  <wsdl:message name="EnableUser2SoapOut">
    <wsdl:part name="parameters" element="tns:EnableUser2Response" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePassword2SoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword2" />
  </wsdl:message>
  <wsdl:message name="ChangePassword2SoapOut">
    <wsdl:part name="parameters" element="tns:ChangePassword2Response" />
  </wsdl:message>
  <wsdl:message name="CheckUserSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="CheckUserSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="CheckUser2SoapIn">
    <wsdl:part name="parameters" element="tns:CheckUser2" />
  </wsdl:message>
  <wsdl:message name="CheckUser2SoapOut">
    <wsdl:part name="parameters" element="tns:CheckUser2Response" />
  </wsdl:message>
  <wsdl:message name="GeSmsCodeByPhoneSoapIn">
    <wsdl:part name="parameters" element="tns:GeSmsCodeByPhone" />
  </wsdl:message>
  <wsdl:message name="GeSmsCodeByPhoneSoapOut">
    <wsdl:part name="parameters" element="tns:GeSmsCodeByPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="GeSmsCodeByPhone2SoapIn">
    <wsdl:part name="parameters" element="tns:GeSmsCodeByPhone2" />
  </wsdl:message>
  <wsdl:message name="GeSmsCodeByPhone2SoapOut">
    <wsdl:part name="parameters" element="tns:GeSmsCodeByPhone2Response" />
  </wsdl:message>
  <wsdl:message name="GeSmsCodeByLoginNameSoapIn">
    <wsdl:part name="parameters" element="tns:GeSmsCodeByLoginName" />
  </wsdl:message>
  <wsdl:message name="GeSmsCodeByLoginNameSoapOut">
    <wsdl:part name="parameters" element="tns:GeSmsCodeByLoginNameResponse" />
  </wsdl:message>
  <wsdl:message name="GeSmsCodeByLoginName2SoapIn">
    <wsdl:part name="parameters" element="tns:GeSmsCodeByLoginName2" />
  </wsdl:message>
  <wsdl:message name="GeSmsCodeByLoginName2SoapOut">
    <wsdl:part name="parameters" element="tns:GeSmsCodeByLoginName2Response" />
  </wsdl:message>
  <wsdl:message name="CheckSmsCodeSoapIn">
    <wsdl:part name="parameters" element="tns:CheckSmsCode" />
  </wsdl:message>
  <wsdl:message name="CheckSmsCodeSoapOut">
    <wsdl:part name="parameters" element="tns:CheckSmsCodeResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSmsCode2SoapIn">
    <wsdl:part name="parameters" element="tns:CheckSmsCode2" />
  </wsdl:message>
  <wsdl:message name="CheckSmsCode2SoapOut">
    <wsdl:part name="parameters" element="tns:CheckSmsCode2Response" />
  </wsdl:message>
  <wsdl:message name="GetUserStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserStatus" />
  </wsdl:message>
  <wsdl:message name="GetUserStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserStatus2SoapIn">
    <wsdl:part name="parameters" element="tns:GetUserStatus2" />
  </wsdl:message>
  <wsdl:message name="GetUserStatus2SoapOut">
    <wsdl:part name="parameters" element="tns:GetUserStatus2Response" />
  </wsdl:message>
  <wsdl:message name="UnLockUserSoapIn">
    <wsdl:part name="parameters" element="tns:UnLockUser" />
  </wsdl:message>
  <wsdl:message name="UnLockUserSoapOut">
    <wsdl:part name="parameters" element="tns:UnLockUserResponse" />
  </wsdl:message>
  <wsdl:message name="UnLockUser2SoapIn">
    <wsdl:part name="parameters" element="tns:UnLockUser2" />
  </wsdl:message>
  <wsdl:message name="UnLockUser2SoapOut">
    <wsdl:part name="parameters" element="tns:UnLockUser2Response" />
  </wsdl:message>
  <wsdl:message name="SetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:SetPassword" />
  </wsdl:message>
  <wsdl:message name="SetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:SetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="SetPassword2SoapIn">
    <wsdl:part name="parameters" element="tns:SetPassword2" />
  </wsdl:message>
  <wsdl:message name="SetPassword2SoapOut">
    <wsdl:part name="parameters" element="tns:SetPassword2Response" />
  </wsdl:message>
  <wsdl:message name="GetReturnCodeNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetReturnCodeName" />
  </wsdl:message>
  <wsdl:message name="GetReturnCodeNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetReturnCodeNameResponse" />
  </wsdl:message>
  <wsdl:message name="IsOUExsitSoapIn">
    <wsdl:part name="parameters" element="tns:IsOUExsit" />
  </wsdl:message>
  <wsdl:message name="IsOUExsitSoapOut">
    <wsdl:part name="parameters" element="tns:IsOUExsitResponse" />
  </wsdl:message>
  <wsdl:message name="GetOuUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetOuUsers" />
  </wsdl:message>
  <wsdl:message name="GetOuUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetOuUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetOuSoapIn">
    <wsdl:part name="parameters" element="tns:GetOu" />
  </wsdl:message>
  <wsdl:message name="GetOuSoapOut">
    <wsdl:part name="parameters" element="tns:GetOuResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyUserPicSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyUserPic" />
  </wsdl:message>
  <wsdl:message name="ModifyUserPicSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyUserPicResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoByLoginNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfoByLoginName" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoByLoginNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoByLoginNameResponse" />
  </wsdl:message>
  <wsdl:message name="IsUserInGroupSoapIn">
    <wsdl:part name="parameters" element="tns:IsUserInGroup" />
  </wsdl:message>
  <wsdl:message name="IsUserInGroupSoapOut">
    <wsdl:part name="parameters" element="tns:IsUserInGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IsUserInGroup2SoapIn">
    <wsdl:part name="parameters" element="tns:IsUserInGroup2" />
  </wsdl:message>
  <wsdl:message name="IsUserInGroup2SoapOut">
    <wsdl:part name="parameters" element="tns:IsUserInGroup2Response" />
  </wsdl:message>
  <wsdl:message name="AddUserToGroupSoapIn">
    <wsdl:part name="parameters" element="tns:AddUserToGroup" />
  </wsdl:message>
  <wsdl:message name="AddUserToGroupSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserToGroupResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserToGroup2SoapIn">
    <wsdl:part name="parameters" element="tns:AddUserToGroup2" />
  </wsdl:message>
  <wsdl:message name="AddUserToGroup2SoapOut">
    <wsdl:part name="parameters" element="tns:AddUserToGroup2Response" />
  </wsdl:message>
  <wsdl:message name="DeleteUserFromGroupSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUserFromGroup" />
  </wsdl:message>
  <wsdl:message name="DeleteUserFromGroupSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserFromGroupResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserFromGroup2SoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUserFromGroup2" />
  </wsdl:message>
  <wsdl:message name="DeleteUserFromGroup2SoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserFromGroup2Response" />
  </wsdl:message>
  <wsdl:message name="GetPasswordLastSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetPasswordLastSet" />
  </wsdl:message>
  <wsdl:message name="GetPasswordLastSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetPasswordLastSetResponse" />
  </wsdl:message>
  <wsdl:message name="GetValidCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetValidCode" />
  </wsdl:message>
  <wsdl:message name="GetValidCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetValidCodeResponse" />
  </wsdl:message>
  <wsdl:message name="CheckValidCodeSoapIn">
    <wsdl:part name="parameters" element="tns:CheckValidCode" />
  </wsdl:message>
  <wsdl:message name="CheckValidCodeSoapOut">
    <wsdl:part name="parameters" element="tns:CheckValidCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="AdWebServiceSoap">
    <wsdl:operation name="CreateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">新增用户，组织不存在则添加至默认组织，密码为空则设置为默认密码,登录到为空则默认所有计算机</wsdl:documentation>
      <wsdl:input message="tns:CreateUserSoapIn" />
      <wsdl:output message="tns:CreateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">新增用户，组织不存在则添加至默认组织，密码为空则设置为默认密码,登录到为空则默认所有计算机</wsdl:documentation>
      <wsdl:input message="tns:CreateUser2SoapIn" />
      <wsdl:output message="tns:CreateUser2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改用户属性</wsdl:documentation>
      <wsdl:input message="tns:ModifyUserSoapIn" />
      <wsdl:output message="tns:ModifyUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyUser2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改用户属性</wsdl:documentation>
      <wsdl:input message="tns:ModifyUser2SoapIn" />
      <wsdl:output message="tns:ModifyUser2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除用户</wsdl:documentation>
      <wsdl:input message="tns:DeleteUserSoapIn" />
      <wsdl:output message="tns:DeleteUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除用户</wsdl:documentation>
      <wsdl:input message="tns:DeleteUser2SoapIn" />
      <wsdl:output message="tns:DeleteUser2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DisableUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">禁用用户</wsdl:documentation>
      <wsdl:input message="tns:DisableUserSoapIn" />
      <wsdl:output message="tns:DisableUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DisableUser2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">禁用用户</wsdl:documentation>
      <wsdl:input message="tns:DisableUser2SoapIn" />
      <wsdl:output message="tns:DisableUser2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnableUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">启用用户</wsdl:documentation>
      <wsdl:input message="tns:EnableUserSoapIn" />
      <wsdl:output message="tns:EnableUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnableUser2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">启用用户</wsdl:documentation>
      <wsdl:input message="tns:EnableUser2SoapIn" />
      <wsdl:output message="tns:EnableUser2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">用户密码修改</wsdl:documentation>
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">用户密码修改</wsdl:documentation>
      <wsdl:input message="tns:ChangePassword2SoapIn" />
      <wsdl:output message="tns:ChangePassword2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">身份认证</wsdl:documentation>
      <wsdl:input message="tns:CheckUserSoapIn" />
      <wsdl:output message="tns:CheckUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckUser2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">身份认证</wsdl:documentation>
      <wsdl:input message="tns:CheckUser2SoapIn" />
      <wsdl:output message="tns:CheckUser2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeSmsCodeByPhone">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通过手机号码获取短信验证码</wsdl:documentation>
      <wsdl:input message="tns:GeSmsCodeByPhoneSoapIn" />
      <wsdl:output message="tns:GeSmsCodeByPhoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeSmsCodeByPhone2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通过手机号码获取短信验证码</wsdl:documentation>
      <wsdl:input message="tns:GeSmsCodeByPhone2SoapIn" />
      <wsdl:output message="tns:GeSmsCodeByPhone2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeSmsCodeByLoginName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通过登录名获取短信验证码</wsdl:documentation>
      <wsdl:input message="tns:GeSmsCodeByLoginNameSoapIn" />
      <wsdl:output message="tns:GeSmsCodeByLoginNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeSmsCodeByLoginName2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通过登录名获取短信验证码</wsdl:documentation>
      <wsdl:input message="tns:GeSmsCodeByLoginName2SoapIn" />
      <wsdl:output message="tns:GeSmsCodeByLoginName2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSmsCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">验证短信验证码</wsdl:documentation>
      <wsdl:input message="tns:CheckSmsCodeSoapIn" />
      <wsdl:output message="tns:CheckSmsCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSmsCode2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">验证短信验证码</wsdl:documentation>
      <wsdl:input message="tns:CheckSmsCode2SoapIn" />
      <wsdl:output message="tns:CheckSmsCode2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取用户状态</wsdl:documentation>
      <wsdl:input message="tns:GetUserStatusSoapIn" />
      <wsdl:output message="tns:GetUserStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserStatus2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取用户状态</wsdl:documentation>
      <wsdl:input message="tns:GetUserStatus2SoapIn" />
      <wsdl:output message="tns:GetUserStatus2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnLockUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">用户解锁</wsdl:documentation>
      <wsdl:input message="tns:UnLockUserSoapIn" />
      <wsdl:output message="tns:UnLockUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnLockUser2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">用户解锁</wsdl:documentation>
      <wsdl:input message="tns:UnLockUser2SoapIn" />
      <wsdl:output message="tns:UnLockUser2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">密码重置</wsdl:documentation>
      <wsdl:input message="tns:SetPasswordSoapIn" />
      <wsdl:output message="tns:SetPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPassword2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">密码重置</wsdl:documentation>
      <wsdl:input message="tns:SetPassword2SoapIn" />
      <wsdl:output message="tns:SetPassword2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReturnCodeName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取接口返回值的中文</wsdl:documentation>
      <wsdl:input message="tns:GetReturnCodeNameSoapIn" />
      <wsdl:output message="tns:GetReturnCodeNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsOUExsit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">判断组织机构是否存在</wsdl:documentation>
      <wsdl:input message="tns:IsOUExsitSoapIn" />
      <wsdl:output message="tns:IsOUExsitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOuUsers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询组织下的用户</wsdl:documentation>
      <wsdl:input message="tns:GetOuUsersSoapIn" />
      <wsdl:output message="tns:GetOuUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOu">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询组织</wsdl:documentation>
      <wsdl:input message="tns:GetOuSoapIn" />
      <wsdl:output message="tns:GetOuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyUserPic">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">重置用户照片</wsdl:documentation>
      <wsdl:input message="tns:ModifyUserPicSoapIn" />
      <wsdl:output message="tns:ModifyUserPicSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByLoginName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">按照用户登录名查询用户属性信息</wsdl:documentation>
      <wsdl:input message="tns:GetUserInfoByLoginNameSoapIn" />
      <wsdl:output message="tns:GetUserInfoByLoginNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsUserInGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">判断用户是否属于制定组</wsdl:documentation>
      <wsdl:input message="tns:IsUserInGroupSoapIn" />
      <wsdl:output message="tns:IsUserInGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsUserInGroup2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">判断用户是否属于制定组</wsdl:documentation>
      <wsdl:input message="tns:IsUserInGroup2SoapIn" />
      <wsdl:output message="tns:IsUserInGroup2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">将用户添加到指定组</wsdl:documentation>
      <wsdl:input message="tns:AddUserToGroupSoapIn" />
      <wsdl:output message="tns:AddUserToGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToGroup2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">将用户添加到指定组</wsdl:documentation>
      <wsdl:input message="tns:AddUserToGroup2SoapIn" />
      <wsdl:output message="tns:AddUserToGroup2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserFromGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">将用户从指定组删除</wsdl:documentation>
      <wsdl:input message="tns:DeleteUserFromGroupSoapIn" />
      <wsdl:output message="tns:DeleteUserFromGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserFromGroup2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">将用户从指定组删除</wsdl:documentation>
      <wsdl:input message="tns:DeleteUserFromGroup2SoapIn" />
      <wsdl:output message="tns:DeleteUserFromGroup2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPasswordLastSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取用户最近一次修改密码的时间</wsdl:documentation>
      <wsdl:input message="tns:GetPasswordLastSetSoapIn" />
      <wsdl:output message="tns:GetPasswordLastSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetValidCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;span&gt;获取短信验证码&lt;/span&gt;
                                     &lt;div&gt;
                                        &lt;h5&gt;输入参数&lt;/h5&gt;
                                        phoneNo：手机号码&lt;br /&gt;&lt;br /&gt;
                                        appCode：应用编号&lt;br /&gt;&lt;br /&gt;
                                        appName：应用名称（用于显示在验证码短信中）&lt;br /&gt;&lt;br /&gt;
                                        smsPattern：验证码模板，填空则使用系统配置模板（例如：您在APP获取序号为SEQ的验证码为[CODE],有效期EXPIRE秒,请妥善保管。其中APP、SEQ、CODE、EXPIRE为占位符）&lt;br /&gt;&lt;br /&gt;
                                        expireSecond：验证码有效期（填0则使用系统配置默认值）
                                        &lt;h5&gt;返回值&lt;/h5&gt;
                                        ResultCode：验证结果，为0则获取成功，小于0则获取失败&lt;br /&gt;&lt;br /&gt;
                                        ResultMsg：获取结果文字描述&lt;br /&gt;&lt;br /&gt;
                                        UniqueCode：获取到的短信验证码唯一编号&lt;br /&gt;&lt;br /&gt;
                                        SeqNo：获取到的短信验证码序号
                                    &lt;/div&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetValidCodeSoapIn" />
      <wsdl:output message="tns:GetValidCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckValidCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;span&gt;验证短信验证码&lt;/span&gt;
                                     &lt;div&gt;
                                        &lt;h5&gt;输入参数&lt;/h5&gt;
                                        guid：验证码编号&lt;br /&gt;&lt;br /&gt;
                                        validNo：验证码&lt;br /&gt;&lt;br /&gt;
                                        &lt;h5&gt;返回值&lt;/h5&gt;
                                        ResultCode：验证结果，为0则验证成功，小于0则验证失败&lt;br /&gt;&lt;br /&gt;
                                        ResultMsg：验证结果文字描述
                                    &lt;/div&gt;</wsdl:documentation>
      <wsdl:input message="tns:CheckValidCodeSoapIn" />
      <wsdl:output message="tns:CheckValidCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdWebServiceSoap" type="tns:AdWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://cttq.org/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser2">
      <soap:operation soapAction="http://cttq.org/CreateUser2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyUser">
      <soap:operation soapAction="http://cttq.org/ModifyUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyUser2">
      <soap:operation soapAction="http://cttq.org/ModifyUser2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://cttq.org/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser2">
      <soap:operation soapAction="http://cttq.org/DeleteUser2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableUser">
      <soap:operation soapAction="http://cttq.org/DisableUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableUser2">
      <soap:operation soapAction="http://cttq.org/DisableUser2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableUser">
      <soap:operation soapAction="http://cttq.org/EnableUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableUser2">
      <soap:operation soapAction="http://cttq.org/EnableUser2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://cttq.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword2">
      <soap:operation soapAction="http://cttq.org/ChangePassword2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://cttq.org/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser2">
      <soap:operation soapAction="http://cttq.org/CheckUser2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeSmsCodeByPhone">
      <soap:operation soapAction="http://cttq.org/GeSmsCodeByPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeSmsCodeByPhone2">
      <soap:operation soapAction="http://cttq.org/GeSmsCodeByPhone2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeSmsCodeByLoginName">
      <soap:operation soapAction="http://cttq.org/GeSmsCodeByLoginName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeSmsCodeByLoginName2">
      <soap:operation soapAction="http://cttq.org/GeSmsCodeByLoginName2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSmsCode">
      <soap:operation soapAction="http://cttq.org/CheckSmsCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSmsCode2">
      <soap:operation soapAction="http://cttq.org/CheckSmsCode2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserStatus">
      <soap:operation soapAction="http://cttq.org/GetUserStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserStatus2">
      <soap:operation soapAction="http://cttq.org/GetUserStatus2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnLockUser">
      <soap:operation soapAction="http://cttq.org/UnLockUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnLockUser2">
      <soap:operation soapAction="http://cttq.org/UnLockUser2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <soap:operation soapAction="http://cttq.org/SetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPassword2">
      <soap:operation soapAction="http://cttq.org/SetPassword2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReturnCodeName">
      <soap:operation soapAction="http://cttq.org/GetReturnCodeName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsOUExsit">
      <soap:operation soapAction="http://cttq.org/IsOUExsit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOuUsers">
      <soap:operation soapAction="http://cttq.org/GetOuUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOu">
      <soap:operation soapAction="http://cttq.org/GetOu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyUserPic">
      <soap:operation soapAction="http://cttq.org/ModifyUserPic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByLoginName">
      <soap:operation soapAction="http://cttq.org/GetUserInfoByLoginName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserInGroup">
      <soap:operation soapAction="http://cttq.org/IsUserInGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserInGroup2">
      <soap:operation soapAction="http://cttq.org/IsUserInGroup2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToGroup">
      <soap:operation soapAction="http://cttq.org/AddUserToGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToGroup2">
      <soap:operation soapAction="http://cttq.org/AddUserToGroup2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserFromGroup">
      <soap:operation soapAction="http://cttq.org/DeleteUserFromGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserFromGroup2">
      <soap:operation soapAction="http://cttq.org/DeleteUserFromGroup2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPasswordLastSet">
      <soap:operation soapAction="http://cttq.org/GetPasswordLastSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidCode">
      <soap:operation soapAction="http://cttq.org/GetValidCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckValidCode">
      <soap:operation soapAction="http://cttq.org/CheckValidCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdWebServiceSoap12" type="tns:AdWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://cttq.org/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser2">
      <soap12:operation soapAction="http://cttq.org/CreateUser2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyUser">
      <soap12:operation soapAction="http://cttq.org/ModifyUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyUser2">
      <soap12:operation soapAction="http://cttq.org/ModifyUser2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://cttq.org/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser2">
      <soap12:operation soapAction="http://cttq.org/DeleteUser2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableUser">
      <soap12:operation soapAction="http://cttq.org/DisableUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableUser2">
      <soap12:operation soapAction="http://cttq.org/DisableUser2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableUser">
      <soap12:operation soapAction="http://cttq.org/EnableUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableUser2">
      <soap12:operation soapAction="http://cttq.org/EnableUser2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://cttq.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword2">
      <soap12:operation soapAction="http://cttq.org/ChangePassword2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap12:operation soapAction="http://cttq.org/CheckUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser2">
      <soap12:operation soapAction="http://cttq.org/CheckUser2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeSmsCodeByPhone">
      <soap12:operation soapAction="http://cttq.org/GeSmsCodeByPhone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeSmsCodeByPhone2">
      <soap12:operation soapAction="http://cttq.org/GeSmsCodeByPhone2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeSmsCodeByLoginName">
      <soap12:operation soapAction="http://cttq.org/GeSmsCodeByLoginName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeSmsCodeByLoginName2">
      <soap12:operation soapAction="http://cttq.org/GeSmsCodeByLoginName2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSmsCode">
      <soap12:operation soapAction="http://cttq.org/CheckSmsCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSmsCode2">
      <soap12:operation soapAction="http://cttq.org/CheckSmsCode2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserStatus">
      <soap12:operation soapAction="http://cttq.org/GetUserStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserStatus2">
      <soap12:operation soapAction="http://cttq.org/GetUserStatus2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnLockUser">
      <soap12:operation soapAction="http://cttq.org/UnLockUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnLockUser2">
      <soap12:operation soapAction="http://cttq.org/UnLockUser2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <soap12:operation soapAction="http://cttq.org/SetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPassword2">
      <soap12:operation soapAction="http://cttq.org/SetPassword2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReturnCodeName">
      <soap12:operation soapAction="http://cttq.org/GetReturnCodeName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsOUExsit">
      <soap12:operation soapAction="http://cttq.org/IsOUExsit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOuUsers">
      <soap12:operation soapAction="http://cttq.org/GetOuUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOu">
      <soap12:operation soapAction="http://cttq.org/GetOu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyUserPic">
      <soap12:operation soapAction="http://cttq.org/ModifyUserPic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoByLoginName">
      <soap12:operation soapAction="http://cttq.org/GetUserInfoByLoginName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserInGroup">
      <soap12:operation soapAction="http://cttq.org/IsUserInGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserInGroup2">
      <soap12:operation soapAction="http://cttq.org/IsUserInGroup2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToGroup">
      <soap12:operation soapAction="http://cttq.org/AddUserToGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToGroup2">
      <soap12:operation soapAction="http://cttq.org/AddUserToGroup2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserFromGroup">
      <soap12:operation soapAction="http://cttq.org/DeleteUserFromGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserFromGroup2">
      <soap12:operation soapAction="http://cttq.org/DeleteUserFromGroup2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPasswordLastSet">
      <soap12:operation soapAction="http://cttq.org/GetPasswordLastSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidCode">
      <soap12:operation soapAction="http://cttq.org/GetValidCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckValidCode">
      <soap12:operation soapAction="http://cttq.org/CheckValidCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdWebService">
    <wsdl:port name="AdWebServiceSoap" binding="tns:AdWebServiceSoap">
      <soap:address location="http://addev.cttq.com/AdService/AdWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdWebServiceSoap12" binding="tns:AdWebServiceSoap12">
      <soap12:address location="http://addev.cttq.com/AdService/AdWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>