docPlatform/wsdl_qas900/PORTALBPMIBatchAprImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.cttq.com/PORTAL_BPMI_BatchApr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PORTAL_BPMI_BatchApr" targetNamespace="http://www.cttq.com/PORTAL_BPMI_BatchApr/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.cttq.com/PORTAL_BPMI_BatchApr/">
      <!-- 增加部分1 开始  -->
            <xsd:complexType name="AbstractType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
						<xsd:annotation>
							<xsd:documentation>当前员工号</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType> 
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="domain">
						<xsd:annotation>
							<xsd:documentation>域</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分1 结束 -->
 
			<!-- 增加部分2 开始 -->
			<xsd:complexType name="ExtendMapType">
				<xsd:sequence>
					<xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分2 结束 -->

			<!-- 增加部分3 开始 -->
			<xsd:complexType name="Entry">
				<xsd:sequence>
					<xsd:element name="Key" type="xsd:anyType"/>
					<xsd:element name="Value" type="xsd:anyType"/>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分3 结束 -->

			<!-- 增加部分4 开始 -->
			<xsd:complexType name="ReturnCode">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回类型</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回码</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回信息</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分4 结束 -->

			<!-- 增加部分5 开始 -->
			<xsd:simpleType name="ChannelSerialNoType">
				<xsd:annotation>
					<xsd:documentation>渠道流水号</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="64"/>
					<xsd:minLength value="23"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- 增加部分5 结束 -->
      
      
      <xsd:element name="PORTALBPMI_BatchApr" type="tns:PORTALBPMIBatchApr">

      </xsd:element>
      <xsd:element name="PORTALBPMI_BatchAprResponse" type="tns:PORTALBPMIBatchAprResponse">

      </xsd:element>
    
      <xsd:complexType name="PORTALBPMIBatchApr">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="0" name="input" type="tns:PORTALBPMIBatchAprInput"/>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="PORTALBPMIBatchAprResponse">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="0" name="output" type="tns:PORTALBPMIBatchAprOutput"/>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="PORTALBPMIBatchAprInput">
      	<xsd:complexContent>
      		<xsd:extension base="tns:AbstractType">
      			<xsd:sequence>
                            <xsd:element maxOccurs="1" minOccurs="0" name="bussType" type="xsd:string">
      				</xsd:element>
                            <xsd:element maxOccurs="unbounded" minOccurs="0" name="infoList" type="tns:InfoList">
      				</xsd:element>

      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="PORTALBPMIBatchAprOutput">
      	<xsd:complexContent>
      		<xsd:extension base="tns:ReturnCode">
      			<xsd:sequence>
      				<xsd:element maxOccurs="unbounded" minOccurs="0" name="infoResList" type="tns:InfoResList">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="InfoList">
      	<xsd:sequence>

      		<xsd:element maxOccurs="1" minOccurs="0" name="bussNo" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="InfoResList">
      	<xsd:sequence>

      		<xsd:element maxOccurs="1" minOccurs="0" name="bussNo" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="aprRes" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="aprResDesc" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PORTALBPMI_BatchAprRequest">
    <wsdl:part element="tns:PORTALBPMI_BatchApr" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="PORTALBPMI_BatchAprResponse">
    <wsdl:part element="tns:PORTALBPMI_BatchAprResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="PORTAL_BPMI_BatchApr">
    <wsdl:operation name="PORTALBPMI_BatchApr">
      <wsdl:input message="tns:PORTALBPMI_BatchAprRequest"/>
      <wsdl:output message="tns:PORTALBPMI_BatchAprResponse"/>
    </wsdl:operation>
  </wsdl:portType>


<wsdl:binding xmlns:ptns="http://www.cttq.com/PORTAL_BPMI_BatchApr/" name="PORTAL_BPMI_BatchApr_Binding" type="ptns:PORTAL_BPMI_BatchApr">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="PORTALBPMI_BatchApr">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="PORTAL_BPMI_BatchApr">
<wsdl:port xmlns:bprf="http://www.cttq.com/PORTAL_BPMI_BatchApr/" binding="bprf:PORTAL_BPMI_BatchApr_Binding" name="PORTAL_BPMI_BatchApr_Port">
<soap:address location="http://cpq.cttq.com:52200/PORTAL_BPMI_BatchApr/PORTALBPMIBatchAprImplBean"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>