portal/wsdl_dev/PORTAL_BPMI_BPMNtUsrQryWithNo.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.cttq.com/PORTAL_BPMI_BPMNtUsrQryWithNo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PORTAL_BPMI_BPMNtUsrQryWithNo" targetNamespace="http://www.cttq.com/PORTAL_BPMI_BPMNtUsrQryWithNo/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.cttq.com/PORTAL_BPMI_BPMNtUsrQryWithNo/">
       <!-- 增加部分1 开始  -->
            <xsd:complexType name="AbstractType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
						<xsd:annotation>
							<xsd:documentation>当前员工号</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType> 
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="domain">
						<xsd:annotation>
							<xsd:documentation>域</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分1 结束 -->

			<!-- 增加部分2 开始 -->
			<xsd:complexType name="ExtendMapType">
				<xsd:sequence>
					<xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分2 结束 -->

			<!-- 增加部分3 开始 -->
			<xsd:complexType name="Entry">
				<xsd:sequence>
					<xsd:element name="Key" type="xsd:anyType"/>
					<xsd:element name="Value" type="xsd:anyType"/>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分3 结束 -->

			<!-- 增加部分4 开始 -->
			<xsd:complexType name="ReturnCode">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回类型</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回码</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回信息</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分4 结束 -->

			<!-- 增加部分5 开始 -->
			<xsd:simpleType name="ChannelSerialNoType">
				<xsd:annotation>
					<xsd:documentation>渠道流水号</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="64"/>
					<xsd:minLength value="23"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- 增加部分5 结束 -->
			
			<xsd:complexType name="Route">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="srnr" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>序号</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="apprUsrId" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>审批者</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="apprUsrNm" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>姓名</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="plans" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>职位</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="plsTx" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>位置（短文本）</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="SPCJ" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>审批层级</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="SPCJT" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>审批层级描述</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="orgEh" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>直接隶属单位</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="orgTx" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>组织单位短文本</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="roleType" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>角色类型</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
				</xsd:sequence>
			</xsd:complexType>
      
      <xsd:element name="PORTALBPMI_BPMNtUsrQryWithNo" type="tns:PORTALBPMIBPMNtUsrQryWithNo">

      </xsd:element>
      <xsd:element name="PORTALBPMI_BPMNtUsrQryWithNoResponse" type="tns:PORTALBPMIBPMNtUsrQryWithNoResponse">

      </xsd:element>
    
      <xsd:complexType name="PORTALBPMIBPMNtUsrQryWithNo">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="0" name="input" type="tns:PORTALBPMIBPMNtUsrQryWithNoInput"/>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="PORTALBPMIBPMNtUsrQryWithNoResponse">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="0" name="output" type="tns:PORTALBPMIBPMNtUsrQryWithNoOutput"/>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="PORTALBPMIBPMNtUsrQryWithNoInput">
      	<xsd:complexContent>
      		<xsd:extension base="tns:AbstractType">
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="0" name="bussType" type="xsd:string">
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="bussNo" type="xsd:string">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="PORTALBPMIBPMNtUsrQryWithNoOutput">
      	<xsd:complexContent>
      		<xsd:extension base="tns:ReturnCode">
      			<xsd:sequence>
      				<xsd:element maxOccurs="unbounded" minOccurs="0" name="routeList" type="tns:Route">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PORTALBPMI_BPMNtUsrQryWithNoRequest">
    <wsdl:part element="tns:PORTALBPMI_BPMNtUsrQryWithNo" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="PORTALBPMI_BPMNtUsrQryWithNoResponse">
    <wsdl:part element="tns:PORTALBPMI_BPMNtUsrQryWithNoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="PORTAL_BPMI_BPMNtUsrQryWithNo">
    <wsdl:operation name="PORTALBPMI_BPMNtUsrQryWithNo">
      <wsdl:input message="tns:PORTALBPMI_BPMNtUsrQryWithNoRequest"/>
      <wsdl:output message="tns:PORTALBPMI_BPMNtUsrQryWithNoResponse"/>
    </wsdl:operation>
  </wsdl:portType>


<wsdl:binding xmlns:ptns="http://www.cttq.com/PORTAL_BPMI_BPMNtUsrQryWithNo/" name="PORTAL_BPMI_BPMNtUsrQryWithNo_Binding" type="ptns:PORTAL_BPMI_BPMNtUsrQryWithNo">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="PORTALBPMI_BPMNtUsrQryWithNo">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="PORTAL_BPMI_BPMNtUsrQryWithNo">
<wsdl:port xmlns:bprf="http://www.cttq.com/PORTAL_BPMI_BPMNtUsrQryWithNo/" binding="bprf:PORTAL_BPMI_BPMNtUsrQryWithNo_Binding" name="PORTAL_BPMI_BPMNtUsrQryWithNo_Port">
<soap:address location="http://cpd.cttq.com:50000/PORTAL_BPMI_BPMNtUsrQryWithNo/PORTALBPMIBPMNtUsrQryWithNoImplBean"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>