docPlatform/wsdl_dev/PORTALBPMIAICompTaskListImplBean.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.cttq.com/PORTAL_BPMI_AICompTaskList/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PORTAL_BPMI_AICompTaskList" targetNamespace="http://www.cttq.com/PORTAL_BPMI_AICompTaskList/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.cttq.com/PORTAL_BPMI_AICompTaskList/">
      <!-- 增加部分1 开始  -->
            <xsd:complexType name="AbstractType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
						<xsd:annotation>
							<xsd:documentation>当前员工号</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType> 
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="domain">
						<xsd:annotation>
							<xsd:documentation>域</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分1 结束 --> 

			<!-- 增加部分2 开始 -->
			<xsd:complexType name="ExtendMapType">
				<xsd:sequence>
					<xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分2 结束 -->

			<!-- 增加部分3 开始 -->
			<xsd:complexType name="Entry">
				<xsd:sequence>
					<xsd:element name="Key" type="xsd:anyType"/>
					<xsd:element name="Value" type="xsd:anyType"/>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分3 结束 -->

			<!-- 增加部分4 开始 -->
			<xsd:complexType name="ReturnCode">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回类型</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回码</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回信息</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分4 结束 -->

			<!-- 增加部分5 开始 -->
			<xsd:simpleType name="ChannelSerialNoType">
				<xsd:annotation>
					<xsd:documentation>渠道流水号</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="64"/>
					<xsd:minLength value="23"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- 增加部分5 结束 -->
      
      <xsd:element name="PORTALBPMI_AICompTaskList" type="tns:PORTALBPMIAICompTaskList">

      </xsd:element>
      <xsd:element name="PORTALBPMI_AICompTaskListResponse" type="tns:PORTALBPMIAICompTaskListResponse">

      </xsd:element>
    
      <xsd:complexType name="PORTALBPMIAICompTaskList">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="0" name="input" type="tns:PORTALBPMIAICompTaskListInput"/>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="PORTALBPMIAICompTaskListResponse">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="0" name="output" type="tns:PORTALBPMIAICompTaskListOutput"/>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="PORTALBPMIAICompTaskListInput">
            	<xsd:complexContent>
            		<xsd:extension base="tns:AbstractType">
            		<xsd:sequence>
                            <xsd:element maxOccurs="1" minOccurs="0" name="userId" type="xsd:string">
      				</xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="bussType" type="xsd:string">
      				</xsd:element>

      				<xsd:element maxOccurs="1" minOccurs="0" name="beginDate" type="xsd:string">
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="endDate" type="xsd:string">
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="startPage" type="xsd:string">
      				</xsd:element>
      				<xsd:element maxOccurs="1" minOccurs="0" name="pageSize" type="xsd:string">
      				</xsd:element>
      			</xsd:sequence>
      			</xsd:extension>
            	</xsd:complexContent>
            </xsd:complexType>

      <xsd:complexType name="PORTALBPMIAICompTaskListOutput">
      	<xsd:complexContent>
      		<xsd:extension base="tns:ReturnCode">
      			<xsd:sequence>
      				<xsd:element maxOccurs="1" minOccurs="0" name="totalCount" type="xsd:string">
      				</xsd:element>
      				<xsd:element maxOccurs="unbounded" minOccurs="0" name="taskList" type="tns:TaskList">
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>
      
        
            <xsd:complexType name="TaskList">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="reqUsrId" type="xsd:string"/>
            		<xsd:element maxOccurs="1" minOccurs="0" name="reqUsrNm" type="xsd:string"/>
            		<xsd:element maxOccurs="1" minOccurs="0" name="bussTyp" type="xsd:string"/>
            		<xsd:element maxOccurs="1" minOccurs="0" name="bussNo" type="xsd:string"/>
            		<xsd:element maxOccurs="1" minOccurs="0" name="status" type="xsd:string"/>
            		<xsd:element maxOccurs="1" minOccurs="0" name="crtDate" type="xsd:string"/>
            		<xsd:element maxOccurs="1" minOccurs="0" name="currStep" type="xsd:string"/>
            		<xsd:element maxOccurs="1" minOccurs="0" name="deptCode" type="xsd:string"/>
            		<xsd:element maxOccurs="1" minOccurs="0" name="deptName" type="xsd:string"/>
            		<xsd:element maxOccurs="1" minOccurs="0" name="sysCode" type="xsd:string">
            		</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PORTALBPMI_AICompTaskListRequest">
    <wsdl:part element="tns:PORTALBPMI_AICompTaskList" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="PORTALBPMI_AICompTaskListResponse">
    <wsdl:part element="tns:PORTALBPMI_AICompTaskListResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="PORTAL_BPMI_AICompTaskList">
    <wsdl:operation name="PORTALBPMI_AICompTaskList">
      <wsdl:input message="tns:PORTALBPMI_AICompTaskListRequest"/>
      <wsdl:output message="tns:PORTALBPMI_AICompTaskListResponse"/>
    </wsdl:operation>
  </wsdl:portType>


<wsdl:binding xmlns:ptns="http://www.cttq.com/PORTAL_BPMI_AICompTaskList/" name="PORTAL_BPMI_AICompTaskList_Binding" type="ptns:PORTAL_BPMI_AICompTaskList">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="PORTALBPMI_AICompTaskList">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="PORTAL_BPMI_AICompTaskList">
<wsdl:port xmlns:bprf="http://www.cttq.com/PORTAL_BPMI_AICompTaskList/" binding="bprf:PORTAL_BPMI_AICompTaskList_Binding" name="PORTAL_BPMI_AICompTaskList_Port">
<soap:address location="http://cpd.cttq.com:50000/PORTAL_BPMI_AICompTaskList/PORTALBPMIAICompTaskListImplBean"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>