portal/wsdl_qas900/PORTAL_BPMI_CompleteTaskSum.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thitech.com/PORTAL_BPMI_CompleteTaskList/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PORTAL_BPMI_CompleteTaskList" targetNamespace="http://www.thitech.com/PORTAL_BPMI_CompleteTaskList/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thitech.com/PORTAL_BPMI_CompleteTaskList/">
      <!-- 增加部分1 开始 -->
			<xsd:complexType name="AbstractType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
						<xsd:annotation>
							<xsd:documentation>当前员工号</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="domain">
						<xsd:annotation>
							<xsd:documentation>域</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分1 结束 -->
			
			<!-- 增加部分2 开始 -->
			<xsd:complexType name="ExtendMapType">
				<xsd:sequence>
					<xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分2 结束 -->

			<!-- 增加部分3 开始 -->
			<xsd:complexType name="Entry">
				<xsd:sequence>
					<xsd:element name="Key" type="xsd:string"/>
					<xsd:element name="Value" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分3 结束 -->

			<!-- 增加部分4 开始 -->
			<xsd:complexType name="ReturnCode">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回类型</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回码</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回信息</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分4 结束 -->

			<!-- 增加部分5 开始 -->
			<xsd:simpleType name="ChannelSerialNoType">
				<xsd:annotation>
					<xsd:documentation>渠道流水号</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="64"/>
					<xsd:minLength value="23"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- 增加部分5 结束 -->
			<xsd:element name="PORTALBPMICompleteTaskList" type="tns:PORTALBPMICompleteTaskList">

			</xsd:element>
			<xsd:element name="PORTALBPMICompleteTaskListResponse" type="tns:PORTALBPMICompleteTaskListResponse">

			</xsd:element>

			<xsd:complexType name="PORTALBPMICompleteTaskList">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="input" type="tns:PORTALBPMICompleteTaskListInput">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="PORTALBPMICompleteTaskListResponse">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="output" type="tns:PORTALBPMICompleteTaskListOutput">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="PORTALBPMICompleteTaskListInput">
				<xsd:complexContent>
					<xsd:extension base="tns:AbstractType">

						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="0" name="qryType" type="xsd:string">
                                <xsd:annotation>
                                	<xsd:documentation>查询类型</xsd:documentation>
                </xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="userId" type="xsd:string">
                                <xsd:annotation>
                                	<xsd:documentation>人员编码</xsd:documentation>
                </xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="bussType" type="xsd:string">
                                <xsd:annotation>
                                	<xsd:documentation>单据类型</xsd:documentation>
                </xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="beginDate" type="xsd:string">
                                <xsd:annotation>
                                	<xsd:documentation>开始日期</xsd:documentation>
                </xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="endDate" type="xsd:string">
                                <xsd:annotation>
                                	<xsd:documentation>结束日期</xsd:documentation>
                </xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="startPage" type="xsd:int">
								<xsd:annotation>
									<xsd:documentation>
										起始页
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="pageSize" type="xsd:int">
								<xsd:annotation>
									<xsd:documentation>
										每页条数
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="PORTALBPMICompleteTaskListOutput">
				<xsd:complexContent>
					<xsd:extension base="tns:ReturnCode">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="0" name="totalCount" type="xsd:int">
								<xsd:annotation>
									<xsd:documentation>
										总条数
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="unbounded" minOccurs="0" name="cpTaskList" type="tns:CpTaskList">
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
    
			<xsd:complexType name="CpTaskList">
                <xsd:annotation>
                	<xsd:documentation/>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:annotation>
                    	<xsd:documentation>任务ID</xsd:documentation>
          </xsd:annotation>
                    <xsd:element maxOccurs="1" minOccurs="0" name="reqUsrId" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>流程发起人编码</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="reqUsrNm" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>流程发起人名称</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="bussTyp" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>单据类型</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="bussNo" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>单据号</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="status" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>状态</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="crtDate" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>创建日期</xsd:documentation>
            </xsd:annotation>
          </xsd:element>

					<xsd:element maxOccurs="1" minOccurs="0" name="currStep" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>当前步鄹</xsd:documentation>
						</xsd:annotation>
          </xsd:element>
				</xsd:sequence>
			</xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PORTALBPMICompleteTaskListRequest">
    <wsdl:part element="tns:PORTALBPMICompleteTaskList" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="PORTALBPMICompleteTaskListResponse">
    <wsdl:part element="tns:PORTALBPMICompleteTaskListResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="PORTAL_BPMI_CompleteTaskList">
    <wsdl:operation name="PORTALBPMICompleteTaskList">
      <wsdl:input message="tns:PORTALBPMICompleteTaskListRequest"/>
      <wsdl:output message="tns:PORTALBPMICompleteTaskListResponse"/>
    </wsdl:operation>
  </wsdl:portType>
<wsdl:binding xmlns:ptns="http://www.thitech.com/PORTAL_BPMI_CompleteTaskList/" name="PORTAL_BPMI_CompleteTaskList_Binding" type="ptns:PORTAL_BPMI_CompleteTaskList">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="PORTALBPMICompleteTaskList">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="PORTAL_BPMI_CompleteTaskList">
<wsdl:port xmlns:bprf="http://www.thitech.com/PORTAL_BPMI_CompleteTaskList/" binding="bprf:PORTAL_BPMI_CompleteTaskList_Binding" name="PORTAL_BPMI_CompleteTaskList_Port">
<soap:address location="http://cpq.cttq.com:52200/PORTAL_BPMI_CompleteTaskList/PORTALBPMICompleteTaskListImplBean"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>