portal/wsdl_pro/PORTAL_BPMI_CompleteTaskList.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.thitech.com/PORTAL_BPMI_CompleteTaskSum/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PORTAL_BPMI_CompleteTaskSum" targetNamespace="http://www.thitech.com/PORTAL_BPMI_CompleteTaskSum/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.thitech.com/PORTAL_BPMI_CompleteTaskSum/">
      <!-- 增加部分1 开始 -->
			<xsd:complexType name="AbstractType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="channelSerialNo" type="tns:ChannelSerialNoType">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="currUsrId">
						<xsd:annotation>
							<xsd:documentation>当前员工号</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="domain">
						<xsd:annotation>
							<xsd:documentation>域</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分1 结束 -->
			
			<!-- 增加部分2 开始 -->
			<xsd:complexType name="ExtendMapType">
				<xsd:sequence>
					<xsd:element maxOccurs="50" minOccurs="0" name="entry" type="tns:Entry">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分2 结束 -->

			<!-- 增加部分3 开始 -->
			<xsd:complexType name="Entry">
				<xsd:sequence>
					<xsd:element name="Key" type="xsd:string"/>
					<xsd:element name="Value" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分3 结束 -->

			<!-- 增加部分4 开始 -->
			<xsd:complexType name="ReturnCode">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回类型</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回码</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>返回信息</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="extendMap" type="tns:ExtendMapType">
						<xsd:annotation>
							<xsd:documentation>扩展数据</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>
			<!-- 增加部分4 结束 -->

			<!-- 增加部分5 开始 -->
			<xsd:simpleType name="ChannelSerialNoType">
				<xsd:annotation>
					<xsd:documentation>渠道流水号</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="64"/>
					<xsd:minLength value="23"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- 增加部分5 结束 -->
			<xsd:element name="PORTALBPMICompleteTaskSum" type="tns:PORTALBPMICompleteTaskSum">

			</xsd:element>
			<xsd:element name="PORTALBPMICompleteTaskSumResponse" type="tns:PORTALBPMICompleteTaskSumResponse">

			</xsd:element>

			<xsd:complexType name="PORTALBPMICompleteTaskSum">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="input" type="tns:PORTALBPMICompleteTaskSumInput">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="PORTALBPMICompleteTaskSumResponse">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="output" type="tns:PORTALBPMICompleteTaskSumOutput">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
            <xsd:complexType name="PORTALBPMICompleteTaskSumInput">
            	<xsd:complexContent>
            		<xsd:extension base="tns:AbstractType">
            			<xsd:sequence>
            				<xsd:element maxOccurs="1" minOccurs="0" name="currUser" type="xsd:string">
                                <xsd:annotation>
                                	<xsd:documentation>当前人</xsd:documentation>
                                </xsd:annotation>
            				</xsd:element>
            			</xsd:sequence>
            		</xsd:extension>
            	</xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="PORTALBPMICompleteTaskSumOutput">
            	<xsd:complexContent>
            		<xsd:extension base="tns:ReturnCode">
            			<xsd:sequence>

            				<xsd:element maxOccurs="unbounded" minOccurs="0" name="cpTaskSum" type="tns:CpTaskSum">
            				</xsd:element>
            			</xsd:sequence>
            		</xsd:extension>
            	</xsd:complexContent>
            </xsd:complexType>
    
            <xsd:complexType name="CpTaskSum">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="0" name="startUser" type="xsd:string">
                                <xsd:annotation>
                                	<xsd:documentation>流程发起人</xsd:documentation>
            </xsd:annotation>
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="0" name="startUserNm" type="xsd:string">
                                <xsd:annotation>
                                	<xsd:documentation>流程发起人名称</xsd:documentation>
            </xsd:annotation>
            				</xsd:element>
            				<xsd:element maxOccurs="1" minOccurs="0" name="personalNum" type="xsd:string">
                                <xsd:annotation>
                                	<xsd:documentation>每人总条数</xsd:documentation>
            </xsd:annotation>
            				</xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PORTALBPMICompleteTaskSumRequest">
    <wsdl:part element="tns:PORTALBPMICompleteTaskSum" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="PORTALBPMICompleteTaskSumResponse">
    <wsdl:part element="tns:PORTALBPMICompleteTaskSumResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="PORTAL_BPMI_CompleteTaskSum">
    <wsdl:operation name="PORTALBPMICompleteTaskSum">
      <wsdl:input message="tns:PORTALBPMICompleteTaskSumRequest"/>
      <wsdl:output message="tns:PORTALBPMICompleteTaskSumResponse"/>
    </wsdl:operation>
  </wsdl:portType>
<wsdl:binding xmlns:ptns="http://www.thitech.com/PORTAL_BPMI_CompsleteTaskSum/" name="PORTAL_BPMI_CompleteTaskSum_Binding" type="ptns:PORTAL_BPMI_CompleteTaskSum">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="PORTALBPMICompleteTaskSum">
<soap:operation soapAction=""/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="PORTAL_BPMI_CompleteTaskSum">
<wsdl:port xmlns:bprf="http://www.thitech.com/PORTAL_BPMI_CompleteTaskSum/" binding="bprf:PORTAL_BPMI_CompleteTaskSum_Binding" name="PORTAL_BPMI_CompleteTaskSum_Port">
<soap:address location="http://10.10.1.137:53300/PORTAL_BPMI_CompleteTaskSum/PORTALBPMICompleteTaskSumImplBean"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>