zhrws/wsdl_dev900/zhrwswf02.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="BN__ZHRWSWF02">
        <wsp:ExactlyOne>
            <wsp:All>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
            <wsp:All>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="BN__ZHRWSWF02_soap12">
        <wsp:ExactlyOne>
            <wsp:All>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
            <wsp:All>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="IF__ZHRWSWF02">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
                    <sapsession:enableSession>false</sapsession:enableSession>
                </sapsession:Session>
                <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
                    <sapcentraladmin:BusinessApplicationID>5284160BF2AF04E0E1008000C0A80114</sapcentraladmin:BusinessApplicationID>
                </sapcentraladmin:CentralAdministration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP__Zhrwswf02">
        <wsp:ExactlyOne>
            <wsp:All>
                <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
                <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
                <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
                <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
            <xsd:simpleType name="char1">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char132">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="132"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char2">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char25">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="25"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char30">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char4">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char40">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char46">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="46"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char8">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="decimal15.0">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="15"/>
                    <xsd:fractionDigits value="0"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric6">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="6"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric8">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string">
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
            <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
            <xsd:complexType name="ZbcmsPublicImport">
                <xsd:sequence>
                    <xsd:element name="Channelserialno" type="n0:char46"/>
                    <xsd:element name="Originatetellerid" type="n0:numeric8"/>
                    <xsd:element name="Zdomain" type="n0:char3"/>
                    <xsd:element name="IPageno" type="n0:numeric6"/>
                    <xsd:element name="IPagesize" type="n0:numeric3"/>
                    <xsd:element name="Zversion" type="n0:decimal15.0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZbcmsPublicExtendmap">
                <xsd:sequence>
                    <xsd:element name="Fieldname" type="n0:char30"/>
                    <xsd:element name="Value" type="n0:char132"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZhrWfPernr">
                <xsd:sequence>
                    <xsd:element name="Pernr" type="n0:numeric8"/>
                    <xsd:element name="Nachn" type="n0:char40"/>
                    <xsd:element name="Gesch" type="n0:char1"/>
                    <xsd:element name="GeschT" type="n0:char2"/>
                    <xsd:element name="Werks" type="n0:char4"/>
                    <xsd:element name="Pbtxt" type="n0:char30"/>
                    <xsd:element name="Orgeh" type="n0:numeric8"/>
                    <xsd:element name="Orgtx" type="n0:char25"/>
                    <xsd:element name="Plans" type="n0:numeric8"/>
                    <xsd:element name="Plstx" type="n0:char25"/>
                    <xsd:element name="SubEeIconV" type="n0:char1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZbcmsPublicExport">
                <xsd:sequence>
                    <xsd:element name="Type" type="n0:char1"/>
                    <xsd:element name="Code" type="n0:char8"/>
                    <xsd:element name="Message" type="n0:string"/>
                    <xsd:element name="Totalsize" type="n0:numeric6"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZbcmsPublicExtendmapT">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ZbcmsPublicExtendmap" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZhrWfPernrT">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ZhrWfPernr" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Zhrwswf02">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Freetext" type="n0:string"/>
                        <xsd:element name="IPublic" type="tns:ZbcmsPublicImport"/>
                        <xsd:element name="ItExtendmap" type="tns:ZbcmsPublicExtendmapT" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Zhrwswf02Response">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="EPublic" type="tns:ZbcmsPublicExport"/>
                        <xsd:element name="TPernr" type="tns:ZhrWfPernrT"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Zhrwswf02">
        <wsdl:part name="parameters" element="tns:Zhrwswf02"/>
    </wsdl:message>
    <wsdl:message name="Zhrwswf02Response">
        <wsdl:part name="parameter" element="tns:Zhrwswf02Response"/>
    </wsdl:message>
    <wsdl:portType name="ZHRWSWF02">
        <wsdl:documentation>
            <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
                <sapdoc:docitem docURL="http://cttqdev.cttq.com:8000/sap/bc/esdt/docu/sd_text?sap-client=900&amp;sd_name=ZHRWSWF02"/>
            </sapdoc:sapdoc>
        </wsdl:documentation>
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF__ZHRWSWF02"/>
        </wsp:Policy>
        <wsdl:operation name="Zhrwswf02">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP__Zhrwswf02"/>
            </wsp:Policy>
            <wsdl:input message="tns:Zhrwswf02"/>
            <wsdl:output message="tns:Zhrwswf02Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZHRWSWF02" type="tns:ZHRWSWF02">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZHRWSWF02"/>
        </wsp:Policy>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="Zhrwswf02">
            <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZHRWSWF02:Zhrwswf02Request" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ZHRWSWF02_soap12" type="tns:ZHRWSWF02">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZHRWSWF02_soap12"/>
        </wsp:Policy>
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="Zhrwswf02">
            <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZHRWSWF02:Zhrwswf02Request" style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZHRWSWF02">
        <wsdl:port name="ZHRWSWF02" binding="tns:ZHRWSWF02">
            <soap:address location="http://cttqdev.cttq.com:8000/sap/bc/srt/rfc/sap/zhrwswf02/900/zhrwswf02/zhrwswf02"/>
        </wsdl:port>
        <wsdl:port name="ZHRWSWF02_soap12" binding="tns:ZHRWSWF02_soap12">
            <wsoap12:address location="http://cttqdev.cttq.com:8000/sap/bc/srt/rfc/sap/zhrwswf02/900/zhrwswf02/zhrwswf02"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>